/Python_Scripts/**/archive
/Python_Scripts/**/input
/Python_Scripts/**/output

/Python_Scripts/3H_Binding/data_files/Gray_Switch.txt
/Python_Scripts/3H_Binding/Radioactivity_Archive_tester.xlsx
/Python_Scripts/3H_Binding/Radioactivity_Archive.xlsx
/Python_Scripts/3H_Binding/~$Radioactivity_Archive.xlsx
/Python_Scripts/3H_Binding/data_files/rad_waste_name.txt
/Python_Scripts/3H_Binding/Radioactive_Disposal_log.xlsx

.DS_Store

/Procedures/**/*.aux
/Procedures/**/*.log
/Procedures/**/*.toc

/Python_Scripts/Unique_hotligands/~$*

/Python_Scripts/I125_Binding/~$125I-Radioactivity_Archive.xlsx
/Python_Scripts/I125_Binding/archive
/Python_Scripts/I125_Binding/125I-Radioactive_Disposal_log.xlsx
/Python_Scripts/I125_Binding/125I-Radioactivity_Archive.xlsx
/Python_Scripts/I125_Binding/data_files/Gray_Switch.txt

/Python_Scripts/__pycache__



