/Python_Scripts/Daily_Radioactivity/archive
/Python_Scripts/Daily_Radioactivity/input
/Python_Scripts/Daily_Radioactivity/output
/Python_Scripts/Daily_Radioactivity/Radioactivity_Archive_tester.xlsx
/Python_Scripts/Daily_Radioactivity/Radioactivity_Archive.xlsx

/Python_Scripts/Column_to_list_converter/archive
/Python_Scripts/Column_to_list_converter/input
/Python_Scripts/Column_to_list_converter/output

/Python_Scripts/Barcode_Converter/archive
/Python_Scripts/Barcode_Converter/input
/Python_Scripts/Barcode_Converter/output


