/Python_Scripts/Daily_Radioactivity/archive
/Python_Scripts/Daily_Radioactivity/input
/Python_Scripts/Daily_Radioactivity/output
Python_Scripts/Daily_Radioactivity/data_files/Gray_Switch.txt
/Python_Scripts/Daily_Radioactivity/Radioactivity_Archive_tester.xlsx
/Python_Scripts/Daily_Radioactivity/Radioactivity_Archive.xlsx
/Python_Scripts/Daily_Radioactivity/~$Radioactivity_Archive.xlsx


/Python_Scripts/Column_to_list_converter/archive
/Python_Scripts/Column_to_list_converter/input
/Python_Scripts/Column_to_list_converter/output

/Python_Scripts/Barcode_Converter/archive
/Python_Scripts/Barcode_Converter/input
/Python_Scripts/Barcode_Converter/output

/Procedures/**/*.aux
/Procedures/**/*.log
/Procedures/**/*.toc

/Python_Scripts/Unique_hotligands/~$*
Python_Scripts/Daily_Radioactivity/Radioactivity_Archive.xlsx
Python_Scripts/Daily_Radioactivity/Radioactive_Disposal_log.xlsx
.DS_Store
Python_Scripts/I125_Binding/~$125I-Radioactivity_Archive.xlsx
/Python_Scripts/I125_Binding/archive
Python_Scripts/I125_Binding/125I-Radioactive_Disposal_log.xlsx
Python_Scripts/I125_Binding/125I-Radioactivity_Archive.xlsx
Python_Scripts/I125_Binding/125I_Binding_Worksheet.py
Python_Scripts/I125_Binding/125I_Binding_Worksheet.py
Python_Scripts/I125_Binding/data_files/Gray_Switch.txt
/Python_Scripts/Mirror_SBA_Results/archive
/Python_Scripts/Mirror_SBA_Results/output
